@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500;700&family=Nunito:wght@200;300;400;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

:root {
    --primary-color: #252322;
    --secondary-color: #e5e5e5;
    --accent-color: #14213d;
    --header-color: #fad496;
    --text-color: #ffffff;
}

/*
var(--primary-color)
var(--secondary-color)
var(--accent-color)
var(--header-color)
var(--text-color)
*/
//remove hide dive when other pages are complete
.hide {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);

    ul {
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: var(--secondary-color);
            }
        }
    }

    header {
        
        display:flex;
        justify-content: space-between;
        height: 12vh;
        width: 100%;
        font-family: 'Nunito', sans-serif;

        #mobile-button-cta {
            display: none;
        }

        #mobile-exit {
            display: none;
        }

        nav.menu-btn {
            display: block;
        }
        
        
        .current {
            font-weight: 700;
            color: var(--header-color);
        }
         
        a {
            .logo {
                padding: 0 1em;
                height: 100%;
                vertical-align: middle;
            }
        }
        a:hover {
            font-weight: 700;
        }
        
        nav {
            align-self: center;
            padding-left: 1em;
            ul {
                li {
                    display: inline;
                    padding: 1em;
                    font-size: 1.2em;
                }
            }
        }
        .contact-info {
            font-size: smaller;
            align-self: center;
            padding-right: 1em;
        }
    }
    .search-function {
        background-color:#037ee8;
        color: var(--text-color);
        
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        font-size: 1.5em;
        font-family: 'Nunito', sans-serif;
        padding-bottom: 1em;
        select{
            height: 30px;
            border-radius: 30px;
        }
        input{
            height: 25px;
            width: 150px;
            border-radius: 30px;
        }
        ::-webkit-input-placeholder {
            text-align: center;
         }
            .location-dropdown{
                display: flex;
                flex-direction: column;
                align-items: center;
                //width: 100%;
                label {
                 padding-bottom: .25em;
                }
                    
            }
            .property-type-dropdown{
                display: flex;
                flex-direction: column;
                //width: 100%;
                label {
                    padding-bottom: .2em;
                   }
            }
            .price-range{
                display: flex;
                flex-flow: column;
                //width: 100%;
                align-items: center;
                padding-top: 1em;
                
            }
            .meter-range{
                display: flex;
                flex-flow: column;
                //width: 100%;
                align-items: center;
                padding-top: .75em;
                
            }
            .search-btn {
                padding-top: 2em;
                button {
                    border-radius: 50px;
                    min-height: 3em;
                    min-width: 7em;
                    
                }
            }
    }

    section {
        background-color: var(--accent-color);
        display: block;
        margin: 0;
        width: 100%;

        h1 {
            font-family: 'Cormorant Garamond', serif;
            font-weight: 700;
            text-align: center;
            font-size: 3em;
            color: var(--header-color);
            margin: 0;
        }
        p {
            color:var(--text-color);
            font-size: 1.3em;
            text-align: center;
            font-family: 'Nunito', sans-serif;
        }

        .hero-section {
            height: 100%;
            width: 100%;
            text-align: center;
            
            .hero-img {
                width: 100%;
            }
            #santorini_buildings {
                width: 300px;
                position:relative;
                float: right;
            }
            
            .hero-text {
                padding-top: 1em;
                
                p{
                    float: left;
                    padding: 0 80px;
                    text-align: left;
                    font-size: 1.5em;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-weight: 500;
                    color: var(--text-color);
                }
            }
        }

            .about-us{
                height: 100%;
                width: 100%;
                text-align: center;
                display: inline-block;
                flex-direction: column-reverse;
                
                
                h2 {
                    font-family: 'Cormorant Garamond', serif;
                    font-size: 2em;
                    color: var(--accent-color);
                }
                h3{
                    font-family: 'Nunito', sans-serif;
                    font-size: 1.25em;
                }
                p{
                    color: var(--primary-color);
                }
                
                .golden-visa{
                    display: flex;
                    justify-content: space-evenly;
                    background-color: #ffffff;            
                    width: 100%;
                    height: 100%;
                    min-width: 50%;
                    
                    #golden-visa-img{
                        width: 50%;                        
                    }

                    .golden-visa-text {
                        background-color: #00599b;
                        display: flex;
                        flex-direction: column; 
                        width: 50%;
                    h2 {
                        background-color: #037ee8;
                        color: #ffce00;
                        padding: .25em .25em .25em .25em;
                        margin: 0;
                        font-size: 3.25em;
                        
                    }
                    h3 {
                        color:var(--secondary-color);
                        margin:.5em;
                        font-size: 1.5em;
                    }
                    ul {
                        padding: 0;
                        margin: 0;
                    }
                    li {
                        color:var(--header-color);
                        font-family: 'Source Sans Pro', sans-serif;
                        font-size: 1.1em;
                        margin: 0 2em 1em 2em;
                        text-align:start;
                        list-style:disc;
                        list-style-position:unset;
                    }
                    button {
                        border:none;
                        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                        color: #e5e5e5;
                        background-color: #14213d;
                        border-radius: 12px;
                        align-self: center;
                        width: 10em;
                        height: 3em;
                        text-decoration: none;
                        margin: 1em;
                    }
                    button:hover{
                        transform: scale(1.2);
                    }
                }
                    
                    
                }
                .about-left {
                    background-color: var(--header-color);

                    h2{
                        color: var(--accent-color);
                        font-family: 'Cormorant Garamond', serif;
                        font-size: 3em;
                    }

                    p{
                        font-size: 1.5em;
                        font-family: 'Nunito', sans-serif;
                        padding: 0 2em;
                        padding-bottom: 2em;
                        margin: 0;
                    }

                    img {
                        padding-top: 0;
                        width: 100%;
                    }
                }
            }
        

        .form-container {
            display: flex;
            align-content: stretch;
            width: 100%;
            height: 100%;
            background-color: var(--text-color);
            
            .contact-right {
                display: none;
                width: 50%;
                height: 100vh;
                iframe {
                    height: 100%;
                    width: 100%;
                }
            }
            .contact-form {
                text-align: center;
                width: 100%;
                height: 85vh;
                margin: 25px 100px;
                align-self: center;
                input, textarea {
                    width: 100%;
                    margin-top: 2rem;
                    border: none;
                    border-bottom: 1px solid black;
                    background-color: var(--text-color);
                }

                .submit {
                    border: 1px solid black;
                    padding: 1rem;
                    text-align: center;
                    background-color: black;
                    color: #ffff;
                    cursor: pointer;
                }
                .submit:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        font-family: 'Nunito', sans-serif;
        h4 {
            color: var(--text-color);
            padding-left: 20px;
        }
        .contact-info {
            display: none;
            padding-right: 1em;
        }
    }
}

@media only screen and (max-width: 1075px) {
    .golden-visa {
        flex-direction:column;

        #golden-visa-img {
            min-width: 100%;
        }

        .golden-visa-text {
            min-width: 100%;
        }
        
    }
}

@media only screen and (max-width: 865px) {
    body {
      header {
        ul {
            padding-right: 20px;
        }
          .contact-info {
              display: none;
          }
      }

      section{
          width: 100%;

          .about-us {
              padding: 0;
              margin: 0;
          }
          .form-container{
              display: block;

              .contact-form {
                  width: 100%;
                  padding-top: 2em;
                  padding-bottom: 2em;
                  margin: 0;

                input, textarea {
                    width: 90vw;
                }
              } 
          }
          
        }

        footer {
            .contact-info{
                display: flex;
            }
        }
    }
  }

  @media only screen and (max-width: 650px) {
    
    body {
        
        header {
            #mobile-button-cta {
                display: flex;
                align-self: center;
                height: 40px;
                width: 45px;
                cursor: pointer;
                margin-right: 1.2em;
            }

            #mobile-button-cta:hover {
                transform: scale(1.1);
            }

            #mobile-exit {
                display: flex;
                margin: 1em auto;
                align-self: center;
                cursor: pointer;
            }

            #mobile-exit:hover {
                transform: scale(1.5);
            }

            nav {
                position: fixed;
                z-index: 999;
                width: 30%;
                right: 0;
                top: 0;
                background-color:var(--accent-color);
                height: 100vh;
                
                display: none;
        
                ul.primary-nav {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                    li {
                        padding: 1em;
                        justify-content: space-between;

                        
                    }

                }
            }
        }
    }
  }