@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;500;700&family=Nunito:wght@200;300;400;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
:root {
  --primary-color: #252322;
  --secondary-color: #e5e5e5;
  --accent-color: #14213d;
  --header-color: #fad496;
  --text-color: #ffffff;
}

/*
var(--primary-color)
var(--secondary-color)
var(--accent-color)
var(--header-color)
var(--text-color)
*/
.hide {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

body ul li {
  list-style: none;
}

body ul li a {
  text-decoration: none;
  color: var(--secondary-color);
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 12vh;
  width: 100%;
  font-family: 'Nunito', sans-serif;
}

body header #mobile-button-cta {
  display: none;
}

body header #mobile-exit {
  display: none;
}

body header nav.menu-btn {
  display: block;
}

body header .current {
  font-weight: 700;
  color: var(--header-color);
}

body header a .logo {
  padding: 0 1em;
  height: 100%;
  vertical-align: middle;
}

body header a:hover {
  font-weight: 700;
}

body header nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 1em;
}

body header nav ul li {
  display: inline;
  padding: 1em;
  font-size: 1.2em;
}

body header .contact-info {
  font-size: smaller;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-right: 1em;
}

body .search-function {
  background-color: #037ee8;
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  font-family: 'Nunito', sans-serif;
  padding-bottom: 1em;
}

body .search-function select {
  height: 30px;
  border-radius: 30px;
}

body .search-function input {
  height: 25px;
  width: 150px;
  border-radius: 30px;
}

body .search-function ::-webkit-input-placeholder {
  text-align: center;
}

body .search-function .location-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .search-function .location-dropdown label {
  padding-bottom: .25em;
}

body .search-function .property-type-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .search-function .property-type-dropdown label {
  padding-bottom: .2em;
}

body .search-function .price-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1em;
}

body .search-function .meter-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: .75em;
}

body .search-function .search-btn {
  padding-top: 2em;
}

body .search-function .search-btn button {
  border-radius: 50px;
  min-height: 3em;
  min-width: 7em;
}

body section {
  background-color: var(--accent-color);
  display: block;
  margin: 0;
  width: 100%;
}

body section h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  text-align: center;
  font-size: 3em;
  color: var(--header-color);
  margin: 0;
}

body section p {
  color: var(--text-color);
  font-size: 1.3em;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

body section .hero-section {
  height: 100%;
  width: 100%;
  text-align: center;
}

body section .hero-section .hero-img {
  width: 100%;
}

body section .hero-section #santorini_buildings {
  width: 300px;
  position: relative;
  float: right;
}

body section .hero-section .hero-text {
  padding-top: 1em;
}

body section .hero-section .hero-text p {
  float: left;
  padding: 0 80px;
  text-align: left;
  font-size: 1.5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
  color: var(--text-color);
}

body section .about-us {
  height: 100%;
  width: 100%;
  text-align: center;
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

body section .about-us h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2em;
  color: var(--accent-color);
}

body section .about-us h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.25em;
}

body section .about-us p {
  color: var(--primary-color);
}

body section .about-us .golden-visa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  min-width: 50%;
}

body section .about-us .golden-visa #golden-visa-img {
  width: 50%;
}

body section .about-us .golden-visa .golden-visa-text {
  background-color: #00599b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

body section .about-us .golden-visa .golden-visa-text h2 {
  background-color: #037ee8;
  color: #ffce00;
  padding: .25em .25em .25em .25em;
  margin: 0;
  font-size: 3.25em;
}

body section .about-us .golden-visa .golden-visa-text h3 {
  color: var(--secondary-color);
  margin: .5em;
  font-size: 1.5em;
}

body section .about-us .golden-visa .golden-visa-text ul {
  padding: 0;
  margin: 0;
}

body section .about-us .golden-visa .golden-visa-text li {
  color: var(--header-color);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
  margin: 0 2em 1em 2em;
  text-align: start;
  list-style: disc;
  list-style-position: unset;
}

body section .about-us .golden-visa .golden-visa-text button {
  border: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #e5e5e5;
  background-color: #14213d;
  border-radius: 12px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 10em;
  height: 3em;
  text-decoration: none;
  margin: 1em;
  cursor: pointer;
}

body section .about-us .golden-visa .golden-visa-text button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body section .about-us .about-left {
  background-color: var(--header-color);
}

body section .about-us .about-left h2 {
  color: var(--accent-color);
  font-family: 'Cormorant Garamond', serif;
  font-size: 3em;
}

body section .about-us .about-left p {
  font-size: 1.5em;
  font-family: 'Nunito', sans-serif;
  padding: 0 2em;
  padding-bottom: 2em;
  margin: 0;
}

body section .about-us .about-left img {
  padding-top: 0;
  width: 100%;
}

body section .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
}

body section .form-container .contact-right {
  display: none;
  width: 50%;
  height: 100vh;
}

body section .form-container .contact-right iframe {
  height: 100%;
  width: 100%;
}

body section .form-container .contact-form {
  text-align: center;
  width: 100%;
  height: 85vh;
  margin: 25px 100px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body section .form-container .contact-form input, body section .form-container .contact-form textarea {
  width: 100%;
  margin-top: 2rem;
  border: none;
  border-bottom: 1px solid black;
  background-color: var(--text-color);
}

body section .form-container .contact-form .submit {
  border: 1px solid black;
  padding: 1rem;
  text-align: center;
  background-color: black;
  color: #ffff;
  cursor: pointer;
}

body section .form-container .contact-form .submit:hover {
  opacity: 0.6;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Nunito', sans-serif;
}

body footer h4 {
  color: var(--text-color);
  padding-left: 20px;
}

body footer .contact-info {
  display: none;
  padding-right: 1em;
}

@media only screen and (max-width: 1075px) {
  .golden-visa {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .golden-visa #golden-visa-img {
    min-width: 100%;
  }
  .golden-visa .golden-visa-text {
    min-width: 100%;
  }
}

@media only screen and (max-width: 865px) {
  body header ul {
    padding-right: 20px;
  }
  body header .contact-info {
    display: none;
  }
  body section {
    width: 100%;
  }
  body section .about-us {
    padding: 0;
    margin: 0;
  }
  body section .form-container {
    display: block;
  }
  body section .form-container .contact-form {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: 0;
  }
  body section .form-container .contact-form input, body section .form-container .contact-form textarea {
    width: 90vw;
  }
  body footer .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 650px) {
  body header #mobile-button-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    height: 40px;
    width: 45px;
    cursor: pointer;
    margin-right: 1.2em;
  }
  body header #mobile-button-cta:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  body header #mobile-exit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1em auto;
    -ms-flex-item-align: center;
        align-self: center;
    cursor: pointer;
  }
  body header #mobile-exit:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  body header nav {
    position: fixed;
    z-index: 999;
    width: 30%;
    right: 0;
    top: 0;
    background-color: var(--accent-color);
    height: 100vh;
    display: none;
  }
  body header nav ul.primary-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding: 0;
  }
  body header nav ul.primary-nav li {
    padding: 1em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=styles.css.map */